<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <!--
        释义: 
        name>target名称 xsi:Type>目标类型 layout>记录日志的格式
        archiveAboveSize>日志文件大于此则存档 另开新文件
        maxArchiveFiles>日志文件的最大量-->

        <target xsi:type="File" name="normallogfile" fileName="logs\${longdate}.log"
                archiveAboveSize="50000000"
                maxArchiveFiles="30"
                layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
        <target xsi:type="File" name="newsfile" fileName="logs\${longdate}.log"
            archiveAboveSize="200000"
            maxArchiveFiles="30"
            layout="${longdate}|${message}" />

    </targets>


    <!-- rules to map from logger name to target -->
    <rules>
        <!--当log产生时 会依次匹配下列规则 若符合规则则输出到对应的target-->
        <!--
        释义:  
        name>类名是否在此命名空间下 minLevel>要记录的最小级别 maxLevel>同理
        writeTo>目标 final>若匹配成功是否结束匹配-->
        <logger name="FirewallDemo.Model.Data.*" minlevel="Information" writeTo="newsfile" final="true"/>
        <logger name="*" minlevel="Information" writeTo="normallogfile" final="true"/>
    </rules>
</nlog>